<form action="/flight/search/result" method="post">
    <input type="text" placeholder="from" name="flight[from]" required>
    <input type="text" placeholder="to" name="flight[to]" required>
    <input type="date" name="flight[date]" required>
    <button>Search</button>
</form>

<hr>

<h4>Result will be shown here</h4>
<% if(found){ %>
<ul>
    <% for(f of found){  %>
      <li> <b><%= f.departureAirport %>,<%= f.departureCity %></b> to <b><%= f.arrivalAirport %>,<%= f.arrivalCity %></b> at &nbsp; &nbsp;<%= f.departureDateTime %> </li>
    <% } %>

</ul>
<% } %>

<% if(!found.length){ %>
    <b>No Flights available</b>

<% } %>
